@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-outfit);
}

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);
  }

  .dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(0 0% 100%);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}